<%= simple_form_for @leaf do |f| %>
<div class="form-group">
  <%= f.input :name, input_html: { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.input :photo, input_html: { class: 'form-control' } %>
</div>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
<br>
